<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>none</key>
	<string>anything</string>
	<key>concert</key>
	<string>any music concerts?</string>
	<key>movie</key>
	<string>watch a movie </string>
	<key>coffee</key>
	<string>coffee?</string>
	<key>play</key>
	<string>who wants to go out</string>
	<key>exercise</key>
	<string>go for gyms</string>
	<key>programming</key>
	<string>looking for programmers</string>
	<key>sports</key>
	<string>who wants to play sport</string>
	<key>food</key>
	<string>go for food</string>
	<key>studying</key>
	<string>search for study group</string>
</dict>
</plist>
